/* stylesheet */


.jumbotron-fluid {
    height: 20px;
}

.jumbotron {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    padding: 2rem 2rem;
    margin-bottom: 0rem;
    background-image: linear-gradient(to bottom right, blue, purple);
      
}

.col-12{
    flex: 0 0 75%;
}

.justify-space-between{
    justify-content: space-between;
}

.flex-row{
    display:flex;
    flex-wrap:wrap;
}

.p{
  max-height:30px;
}

.display-4 {
    line-height: 0.1;
    text-align: center;
    color: azure;
}

#WeatherDashboard h1{
    background-color: azure;
}

#city{
    
}

#city{
    
}



#cityList{
    
    width: 33%;

}

#cityInput{
    padding-top:5rem;
    width: 100%;
    height:60%;
}

.btn{
    
}

#forecastcontainer{
    width:65%;
}

.search{
    position: fixed;
}
#CurrentWeather {
    
}

#container{
    
    display: flex;
    flex-wrap: wrap;
    
    height: 420px;

}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    }
    .hidden{
        visibility: hidden;
    }
    .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
    }
    .card-header i{
    float: right;
    }
    
    .card-body {
    padding: 2.5%;
    }

.justify-space-around{
    justify-content: space-around;
}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
    .jumbotron {
        padding: 2rem 2rem; 
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }